.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  max-width: 100vw;
  padding-top: 60px;
  padding-right: 80px;
  padding-left: 80px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 108px;
}

.footer__list {
  list-style-type: none;
  margin: 0;

}

.footer__social_heading {
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px;
}

.footer__list_item {
  color: #fff;
  font-family: "Inter";

font-style: normal;

font-weight: normal;

font-size: 16px;

line-height: 20px;
}

.footer__copyright {
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-family: "Inter";

font-style: normal;

font-weight: normal;

font-size: 16px;

line-height: 20px;
padding-bottom: 60px;
}

.footer__facebook {
  color: white;
}

.footer__instagram {
  color: white;
}

.footer__social_content_container {
  display: flex;
  justify-content: space-between;
}

.footer__social_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Inter", "Arial", sans-serif;
}

.footer__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  
}

.footer__list_item {
    display: flex;
  margin-bottom: 16px;
  line-height: 20px;
 text-decoration: none; 

}

.footer__list_item[last-of-type] {
  margin-bottom: 0;
}


.footer__social_icon_titles {
  display: flex;
 
}

.footer__anchor {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
}

.footer__logo {
height:39px ;
width:105px;
}

.footer__list:last-child {
  margin: 0;
}

