.form {
    max-width: 385px;
    display: flex;
    justify-content: center;
}

.form__input {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
    display: block;
    border: 1px solid #838383;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    padding: 10px;
    height: 60px;
    }

.form__button {
        border-radius: 4px;
        width: 100%;
        padding: 0;
        margin-bottom: 32px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        font-family: Inter, Arial, sans-serif;
        padding: 10px 80px ;
        background-color: #2f80ed;
        color: #fff;
        height: 60px;
        border: none;
        transition: opacity 0.5s;

}

.form__label {
    color: #000;
    margin-bottom: 32px;
    display: block;
    font-family: Inter, Arial, sans-serif;

font-style: normal;

font-weight: 500;

font-size: 16px;

line-height: 20px;
}

.form__label_type_checkbox {
    display: flex;
    justify-content: center;
    color: #000;
    gap: 12px;
    margin-bottom: 0;
}

.form__fieldset {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
}

.form__checkbox {
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.form__button:hover {
  opacity: 70%;
}

