.header {
    padding: 30px 80px 40px;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url("../images/background_header.svg") right 0 no-repeat #fff;
    color: #000;
}

.header__title {
    max-width: 729px;
    max-height: 183px;
    font-size: 60px;
    line-height: 70px;
    margin: 183px 0 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
    z-index: 1;
}

.header__span-accent {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 60px; 
    line-height: 72px;
    color: #2F80ED;
    display: block;

}

.header__description {
max-width: 683px;
font-size: 20px;
line-height: 30px;
margin: 20px 0 0;
font-family: "Noto Serif";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;

}

.header__image {
    position: absolute;
    right: 100px;
    top: 12px;
    width:646px;
    height: 568px;
    top: 124px;
    background-position: center;
    background-size: cover;
    top: 124px;
    
}

.header__footer {
display:flex;
justify-content: space-between;
margin-top: auto;
color: #6F6F6F;

}

.header__paragraph {
    margin:auto 0;
    display: flex;
    
}